{% extends "./base.html" %}
{% load static %}
{% block container %}
    <!-- HERO -->
    <section class="jumbotron text-center mt-4" style="background: url('{% static "tours/images/title.png" %}'); background-position: center center; background-size: cover">
      <h1 class="display-4 text-white">{{ title }}</h1>
      <p class="lead text-white">{{ subtitle }}</p>
      <p class="mt-5 w-50 mx-auto text-white">{{ description }}</p>
    </section>
    <!-- CARDS -->
    {% include './tour_cards.html' %}
{% endblock container %}