.aspect-ratio-box {
    position: relative;
    width: 100%;
}

.aspect-ratio-box::after {
    display: block;
    content: '';
    /* 3:2 aspect ratio */
    padding-bottom: 66.67%;
}

.aspect-ratio-box img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}